<h1> 
  QUIZ #1 SUBMISSION
</h1>

<h6>
  Requirements:
  <br />
  <br />
  This should be a rails application, not a plain HTML page.
  <br />
  The web application has a page with static content on it.
  <br />
  The web application is hosted on Heroku.
  <br />
  The code for the application is hosted on GitHub.
  <br />
  There is a headline on the page of the application that is a non-black color.
</h6> 

<h1>
  QUIZ #2 SUBMISSION
</h1>

<h6>
  Requirements:
</h6>

<%= link_to 'Add requirement', new_quiz_path, class: 'btn btn-primary'%>

<br />
<br />

<% @quizzes.each do |quiz| %>
  <div class="booyah-box col-10 offset-1">
    <h2><%= quiz.title %></h2><br />
    <i><%= quiz.requirements %></i><br />
  </div>

  <hr />
<% end %>
<br />